a, a:link {
  color: $SDlinkTextColor;
}

a:visited, a:active {
  color: $SDlinkTextColorVisited;
}

#outer-wrap {
  width: 100% !important;
  height: 100% !important;
}

#content-outer-wrap {
  position: relative;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 1.6em;
  font-weight: lighter;
  margin: 10px 0;
  padding-left: 5px;
  border-bottom: 1px solid $SDoutlineColor;
}

.subsection-title {
  font-size: 1em;
  width: 100%;
  display: inline-block;
  padding-left: 5px;
  border-bottom: 1px solid $SDoutlineColor;
}

.portfolio-item {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.portfolio-title {
  width: 100%;
  border-bottom: 1px solid $SDoutlineColor;
  font-size: 20px;
  margin-bottom: 10px;
}

.portfolio-image {
  width: 33%;
  display: inline-block;
  float: left;
}

.portfolio-image img {
  border: 1px solid $SDoutlineColor;
}

.portfolio-text {
  width: 65%;
  float: right;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3em;
}

.portfolio-text a {
  word-break: break-all;
}

.portfolio-text .label {
  font-weight: bold;
  margin-right: 6px;
}

#about-list-wrap {
  position: relative;
  float: left;
  width: 100%;
  margin: 20px 0;
}

#about-list-wrap ul {
  list-style: circle;
  margin-top: 5px;
  padding-left: 20px;
}

#about-list-wrap #technical-ul {
  list-style: none;
  padding-left: 5px;
  line-height: 22px;
}

#sec-portfolio-outer-wrap {
  margin-bottom: 40px;
}

#vuln-table-wrap {
  overflow-x: scroll;
}

#vuln-table {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
}

#vuln-table-heading {
  font-size: 12px;
  font-weight: bolder;
}

.vuln-list-row {
  height: 25px;
}

.vuln-list-row:nth-of-type(2n - 1) {
  background-color: $SDsecondaryColor;
}

.about-wrap {
  display: table-row;
}

.about-text,
.brand-image-wrap {
  display: table-cell;
  vertical-align: middle;
}

.brand-image {
  width: 100px;
  margin-right: 20px;
}

.brand-bumper {
  clear: both;
}

@media (max-width: 600px) {
  .portfolio-image,
  .portfolio-text {
    width: 100%;
    float: initial;
  }

  .portfolio-text {
    margin-top: 10px;
  }

  #about-list-wrap .one-third {
    width: 100%;
    margin-left: initial;
  }

  #vuln-table {
    font-size: 12px;
  }

  .brand-image-wrap,
  .about-text {
    display: block;
  }

  .brand-image {
    width: 100px;
    margin: 20px auto;
    display: block;
  }
}
